<section class="block block--dark block--skewed-right block-showcase">

    <header class="block__header">
        <h2>User-friendly control panel</h2>
    </header>

    <div class="container grid grid--1X2">

        <picture class="block-showcase__image">
            <source type="webp" srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x">
            <source type="png" srcset="images/ipad.png 1x, images/ipad@2x.png 2x">
            <img src="./Images/ipad.png" alt="">
        </picture>

        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                
                            <svg class="icon icon--primary"><use xlink:href="images/sprite.svg#snap"></use></svg>
                        </span>            
                    
                    </div>
                
                    <div class="media__body">
                        <h3 class = "media__title">Easy Start & Managed Updates</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur voluptatum eligendi odio, soluta illo, inventore ab vero veniam officiis vitae quod neque voluptas unde corrupti fugit voluptatem modi consequuntur quibusdam?</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="media">
                    <div class="media__image">
                
                            <svg class="icon icon--primary"><use xlink:href="images/sprite.svg#growth"></use></svg>
                        </span>            
                    
                    </div>
                
                    <div class="media__body">
                        <h3 class = "media__title">Staging, GIT & WP-CLI</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur voluptatum eligendi odio, soluta illo, inventore ab vero veniam officiis vitae quod neque voluptas unde corrupti fugit voluptatem modi consequuntur quibusdam?</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                
                            <svg class="icon icon--primary"><use xlink:href="images/sprite.svg#wordpress"></use></svg>
                        </span>            
                    
                    </div>
                
                    <div class="media__body">
                        <h3 class = "media__title">Dynamic Caching & More</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur voluptatum eligendi odio, soluta illo, inventore ab vero veniam officiis vitae quod neque voluptas unde corrupti fugit voluptatem modi consequuntur quibusdam?</p>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    
</section>